
body {
	background: #eee;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.4285em;
	color: rgba(0,0,0,.87);
}

main {
	display: block;
	width: 500px;
	margin: auto;
}

textarea {
	display: block;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	height: 250px;
	padding: 10px;
	overflow: auto;
	resize: none;
}

button {
	display: block;
	margin: 20px auto;
	width: 100px;
	height: 25px;
}

output {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
}
